{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "tailwindStylesheet": "./src/modules/common/config/index.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
